#collapseForm {
    max-width: 80%;
    margin: 20px auto;
}

#workersTable table {
    max-width: 80%;
    margin: 20px auto;

    border: 1px solid lightgrey;
}

#taskResolutionTable {
    max-width: 90%;
    margin: 20px auto;

}
#taskResolutionTable table {
}

