

#teamTable {
    max-width: 80%;
    /*border: 1px solid black;*/
    margin: 15px auto;
}

#createTeamForm{
    margin: 15px auto;
    max-width: 50%;
}

#createTeamForm input{
    margin: 10px auto;
    max-width: 60%;
    display: block;
}


#createTeamForm button{
    margin: 10px auto;
    display: block;
}

#teamTable a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}