html body {
    background-color: rgba(78, 251, 44, 0.19);
}
h2 {
    text-align: center;
}
main {
    width: 1200px;
    min-height: 800px;

    background-color: white;
    border: 2px solid black;

    margin: 50px auto;

}

thead {
    text-align: center;
    font-weight: bolder;
}
td {
    text-align: center;
}
table {
    max-width: 80%;
    margin: 50px auto;
    border: 1px solid lightgray;
}
table a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Similar Components style*/
.teamPageHeader{
    margin: 15px;
    text-align: center;
}

.adminPanel {
    /*border: 1px solid lightgrey;*/
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    margin: 50px auto;
    grid-columns-gap: 0.5fr;
}

.adminPanel p {
    text-align: center;
    margin: 0px auto;
}

.adminPanel button[type="submit"] {
    margin: 10px auto;
}

.collapseButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.collapseButtons button {
    margin: 10px;
}

a.btn:not([href]){
    color: white;
}

a.deleteTableElementAnchor:not([href]){
    color: red;
    font-weight: bold;
}

form{
    padding: 30px;
    border: 1px solid lightgrey;
}

.collapseButtons {
    padding: 30px;
    margin: 20px auto;
    border: 1px solid lightgrey;
}
